
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Base */
body {
    background-color: #000;
    color: #fff;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    border-bottom: 1px solid #222;
    z-index: 100;
}

.logo {
    color: #ff2e2e;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #ff2e2e;
}

/* Hero */
.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 100px;
}

.hero-text h2 {
    font-size: 48px;
}

.hero-text span {
    color: #ff2e2e;
}

.hero-text h3 {
    margin: 12px 0;
    color: #ccc;
}

.hero-text p {
    max-width: 450px;
    margin: 20px 0;
    color: #bbb;
}

/* Buttons */
.buttons .btn {
    display: inline-block;
    padding: 12px 30px;
    margin-right: 15px;
    background: #ff2e2e;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.buttons .outline {
    background: transparent;
    border: 2px solid #ff2e2e;
}

/* Profile Image */
.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid #ff2e2e;
}

/* Sections */
.about,
.skills,
.contact {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Card */
.card {
    max-width: 700px;
    padding: 40px;
    border: 1px solid #222;
    text-align: center;
}

.card h2 {
    color: #ff2e2e;
    margin-bottom: 20px;
}

/* Skills */
.skills {
    flex-direction: column;
}

.skills h2 {
    margin-bottom: 40px;
    color: #ff2e2e;
}

.skill {
    width: 600px;
    margin-bottom: 25px;
}

.bar {
    height: 10px;
    background: #222;
}

.fill {
    height: 100%;
    background: #ff2e2e;
}

.html { width: 90%; }
.css { width: 85%; }
.java { width: 70%; }

/* Contact */
.contact p {
    margin: 10px 0;
}
